<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2>
                {{ about.heading }}
              </h2>
              <div class="about-btn">
                <button class="about-view" (click)="btnClick()">
                  {{ about.headingText }}
                </button>
              </div>
              <!--/.about-btn-->
            </div>
            <!--/.about-us-txt-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
        <div class="col-sm-0">
          <div class="single-about-us"></div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.about-us-content-->
  </div>
  <!--/.container-->
</section>
<!--/.about-us-->

<!--travel-box start-->
<section class="travel-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-travel-boxes">
          <div id="desc-tabs" class="desc-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li
                role="presentation"
                class="active"
                *ngFor="let feature of about.features"
              >
                <a
                  href="#tours"
                  aria-controls="tours"
                  role="tab"
                  data-toggle="tab"
                >
                  <i class="fa fa-{{ feature.icon }}"></i>
                  {{ feature.label }}
                </a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active fade in" id="tours">
                <div class="tab-para">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="single-tab-select-box">
                        <h2>{{ about.destination }}</h2>

                        <div class="travel-select-icon">
                          <select
                            class="form-control "
                            (input)="attraction = $event.target.value"
                          >
                            <option value="default">{{
                              about.textareaCountry
                            }}</option
                            ><!-- /.option-->

                            <option
                              *ngFor="let attraction of attractions"
                              ng-model="attraction"
                              >{{ attraction }}</option
                            ><!-- /.option-->

                            <!-- /.option--> </select
                          ><!-- /.select-->
                        </div>
                        <!-- /.travel-select-icon -->

                        <!-- /.travel-select-icon -->
                      </div>
                      <!--/.single-tab-select-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-2 col-md-3 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>{{ about.checkIn }}</h2>
                        <div class="travel-check-icon">
                          <form action="#">
                            <input
                              type="text"
                              name="check_in"
                              class="form-control"
                              data-toggle="datepicker"
                              placeholder="12 -01 - 2017 "
                              (input)="date = $event.target.value"
                            />
                          </form>
                        </div>
                        <!-- /.travel-check-icon -->
                      </div>
                      <!--/.single-tab-select-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-2 col-md-3 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>{{ about.checkOut }}</h2>
                        <div class="travel-check-icon">
                          <form action="#">
                            <input
                              type="text"
                              name="check_out"
                              class="form-control"
                              (input)="time = $event.target.value"
                            />
                          </form>
                        </div>
                        <!-- /.travel-check-icon -->
                      </div>
                      <!--/.single-tab-select-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-2 col-md-1 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>{{ about.duration }}</h2>
                        <div class="travel-select-icon">
                          <select
                            class="form-control"
                            (input)="duration = $event.target.value"
                          >
                            <option value="default">5</option
                            ><!-- /.option-->

                            <option value="10">10</option
                            ><!-- /.option-->

                            <option value="15">15</option
                            ><!-- /.option-->
                            <option value="20">20</option
                            ><!-- /.option--> </select
                          ><!-- /.select-->
                        </div>
                        <!-- /.travel-select-icon -->
                      </div>
                      <!--/.single-tab-select-box-->
                    </div>
                    <!--/.col-->

                    <div class="col-lg-2 col-md-1 col-sm-4">
                      <div class="single-tab-select-box">
                        <h2>{{ about.members }}</h2>
                        <div class="travel-select-icon">
                          <select
                            class="form-control"
                            (input)="members = $event.target.value"
                          >
                            <option value="default">1</option
                            ><!-- /.option-->

                            <option value="2">2</option
                            ><!-- /.option-->

                            <option value="4">4</option
                            ><!-- /.option-->
                            <option value="8">8</option
                            ><!-- /.option--> </select
                          ><!-- /.select-->
                        </div>
                        <!-- /.travel-select-icon -->
                      </div>
                      <!--/.single-tab-select-box-->
                    </div>
                    <!--/.col-->
                  </div>
                  <!--/.row-->

                  <div class="row">
                    <div class="clo-sm-7">
                      <div class="about-btn travel-mrt-0 pull-right">
                        <button
                          class="about-view travel-btn"
                          (click)="handleBtn()"
                        >
                          {{ about.search }}</button
                        ><!--/.travel-btn-->
                      </div>
                      <!--/.about-btn-->
                    </div>
                    <!--/.col-->

                    <!--/.col-->
                  </div>
                  <!--/.row-->
                </div>
                <!--/.tab-para-->
              </div>
              <!--/.tabpannel-->

              <!--/.tabpannel-->
            </div>
            <!--/.tab content-->
          </div>
          <!--/.desc-tabs-->
        </div>
        <!--/.single-travel-box-->
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/.travel-box-->
<!--travel-box end-->

<!--service start-->
<section id="service" class="service">
  <div class="container">
    <div class="service-counter text-center">
      <div class="col-md-4 col-sm-4">
        <div class="single-service-box" *ngFor="let service of about.services">
          <div class="service-img">
            <img
              src="assets/images/service/{{ service.image }}"
              alt="service-icon"
            />
          </div>
          <!--/.service-img-->
          <div class="service-content">
            <h2>
              <a href="#">
                {{ service.title }}
              </a>
            </h2>
            <p>
              {{ service.text }}
            </p>
          </div>
          <!--/.service-content-->
        </div>
        <!--/.single-service-box-->
      </div>
    </div>
    <!--/.statistics-counter-->
  </div>
  <!--/.container-->
</section>
<!--/.service-->
<!--service end-->
