<!--galley start-->
<section id="gallery" class="gallery">
  <div class="container">
    <div class="gallery-details">
      <div class="gallary-header text-center">
        <h2>
          {{ destination.title }}
        </h2>
        <p>
          {{ destination.subtitle }}
        </p>
      </div>
      <!--/.gallery-header-->
      <div class="gallery-box">
        <div class="gallery-content">
          <div class="filtr-container">
            <div class="row">
              <div class="col-md-6">
                <div class="filtr-item" *ngFor="let pic of destination.pics">
                  <img
                    src="assets/images/gallary/{{ pic.image }}"
                    alt="portfolio image"
                  />
                  <div class="item-title">
                    <a href="#">
                      {{ pic.country }}
                    </a>
                    <p>
                      <span>{{ pic.tours }}</span
                      ><span>{{ pic.place }}</span>
                    </p>
                  </div>
                  <!-- /.item-title -->
                </div>
                <!-- /.filtr-item -->
              </div>
              <!-- /.col -->

              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.filtr-container-->
        </div>
        <!-- /.gallery-content -->
      </div>
      <!--/.galley-box-->
    </div>
    <!--/.gallery-details-->
  </div>
  <!--/.container-->
</section>
<!--/.gallery-->
<!--gallery end-->
