
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <h2>
            {{post.heading}}<span>{{post.date | date:'dd-MM-yyyy'}}</span>
          </h2>
          <div class="thumbnail-img">
            <img
              src="assets/images/blog/{{post.image}}"
              alt="blog-img"
            />
            <div class="thumbnail-img-overlay"></div>
            <!--/.thumbnail-img-overlay-->
          </div>
          <!--/.thumbnail-img-->

          <div class="caption">
            <div class="blog-txt">
              <h3>
                <a href="#">
                  {{ post.subHading }}
                </a>
              </h3>
              <p>
                {{ post.text }}
              </p>
              <p>
                  {{ post.author }}
                </p>
              <a routerLink="/Article/{{post.id}}"> Read More...</a>
            </div>
            <!--/.blog-txt-->
          </div>
       
        </div>
        <!--/.thumbnail-->
      </div>
      <!--/.col-->

      <!--/.col-->
    </div>
    <!--/.row-->
