.pagination > li {
  display: inline-block;
  background: white;
  border: 1px solid #ddd;
  margin-left: -1px;
  padding: 10px;
  cursor: pointer;
}

.pagination > li.active {
  background-color: #005575;
}

.pagination > li.disabled {
  background-color: #ddd;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
