<section id="spo" class="special-offer">
  <div class="container">
    <div class="special-offer-content">
      <div class="row">
        <div class="col-sm-8">
          <div class="single-special-offer">
            <div class="single-special-offer-txt">
              <h2>{{offer.country}}</h2>
              <div class="packages-review special-offer-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>{{offer.review}}</span>
                </p>
              </div>
              <!--/.packages-review-->
              <div class="packages-para special-offer-para">
                <p>
                  <span>
                    <i class="fa fa-angle-right"></i> {{offer.date}}
                  </span>
                  <span> <i class="fa fa-angle-right"></i> {{offer.person}} </span>
                  <span>
                    <i class="fa fa-angle-right"></i> {{offer.accomodation}}
                  </span>
                </p>
                <p>
                  <span>
                    <i class="fa fa-angle-right"></i> {{offer.transport}}
                  </span>
                  <span>
                    <i class="fa fa-angle-right"></i> {{offer.food}}
                  </span>
                </p>
                <p class="offer-para">
                 {{offer.text}}
                </p>
              </div>
              <!--/.packages-para-->
              <div class="offer-btn-group">
                
                <!--/.about-btn-->
                <div class="about-btn">
                  <button class="about-view packages-btn" (click)="btnClick()">
                    {{offer.book}}
                  </button>
                </div>
                <!--/.about-btn-->
              </div>
              <!--/.offer-btn-group-->
            </div>
            <!--/.single-special-offer-txt-->
          </div>
          <!--/.single-special-offer-->
        </div>
        <!--/.col-->
        <div class="col-sm-4">
          <div class="single-special-offer">
            <div class="single-special-offer-bg">
              <img
                src="assets/images/offer/offer-shape.png"
                alt="offer-shape"
              />
            </div>
            <!--/.single-special-offer-bg-->
            
            <!--/.single-special-shape-txt-->
          </div>
          <!--/.single-special-offer-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.special-offer-content-->
  </div>
  <!--/.container-->
</section>