<section id="subs" class="subscribe">
  <div class="container">
    <div class="subscribe-title text-center">
      <h2>
        {{ subscribe.title }}
      </h2>
      <p>
        {{ subscribe.text }}
      </p>
    </div>
    <form>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="custom-input-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your Email Here"
              (input)="email = $event.target.value"
            />
            <button class="appsLand-btn subscribe-btn" (click)="subscribeBtn()">
              {{ subscribe.btn }}
            </button>
            <div class="clearfix"></div>
            <i class="fa fa-envelope"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
