<section id="blog" class="blog">
  <div class="container">
    <div class="blog-details">
      <div class="gallary-header text-center">
        <h2>
          {{ blog.title }}
        </h2>
        <p>
          {{ blog.subTitle }}
        </p>
      </div>
      <div class="blog-content" *ngFor="let post of pages">
        <app-post [post]="posts"></app-post>
      </div>
      <!--/.blog-details-->
    </div>
  </div>
  <app-pagination [pager]="pager" (setPage)="setPage($event)"></app-pagination>
</section>
