/*-------------------------------------
        11. Blog
--------------------------------------*/
.blog {
  background: #fff;
  padding: 115px 0 92px;
}

/*blog-content*/
.blog-content {
  margin-top: 66px;
}
.blog-content .thumbnail {
  background: transparent;
  border: transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.blog-content .thumbnail:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.thumbnail h2 {
  padding: 25px 0 25px 20px;
  color: #565a5c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.thumbnail span {
  color: #aaa;
  font-size: 14px;
  font-weight: normal;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
}

/*.thumbnail-img*/
.thumbnail-img {
  position: relative;
}

.blog-content .thumbnail .thumbnail-img img {
  max-width: 102%;
  margin-left: -4px;
}
.thumbnail-img-overlay {
  position: absolute;
  top: 0;
  left: -4px;
  width: 102%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.blog-content .thumbnail:hover .thumbnail-img-overlay {
  opacity: 1;
} /*.thumbnail-img*/

/*.caption*/
.blog-content .caption {
  background: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.blog-content .thumbnail:hover .caption {
  border: transparent;
}
.blog-txt {
  margin-top: 8px;
  margin-left: 12px;
}
.blog-content .caption .blog-txt h3 a {
  color: #565a5c;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  padding-bottom: 3px;
  min-height: 63px;
  line-height: 2;
}
.blog-content .caption .blog-txt p {
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  min-height: 105px;
}
.blog-content .caption .blog-txt a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #64cbfa;
  padding-bottom: 12px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
} /*.caption*/

/*blog-content*/
